parameters:
    level: 9
    paths:
        - src
        - tests
    ignoreErrors:
        # Lombok Getter/Setter and DevTools With assign via magic methods.
        -
            identifier: property.unusedType
            path: src/*
